body {
    
    margin: 0;
    font-size: 15px;
    color: #333;
}

*,
*:afret,
*:before {
    box-sizing: border-box;
}

/* Conatiner */
.container {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;

    font-family: sans-serif;
}

/* Selector */

.selector {
    margin: 0px 20px 10px 20px;
    height: 55px;
}

.string__input {
    background-color: #ececec;
    outline: none;
    border: 0px;
    border-radius: 10px;
    
    padding: 0px 0px 0px 15px;
    
    height: 55px;
    width: calc(100% - 80px);
    max-width: 650px;
    
    font-family: sans-serif;
    font-size: 24px;
    color: #333;
    font-style: italic;
}

.string__input::placeholder{
    color: #ccc;
}

.close__btn {
    background-color: #ececec;
    border-radius: 10px;
    float: right;
    
    height: 55px;
    width: 55px;
    
    text-align: center;
}


.hide {
    display: none;
}




















