body {
    
    margin: 0;
    font-size: 15px;
    color: #333;
}

*,
*:afret,
*:before {
    box-sizing: border-box;
}

/* Start */
.start {
    width: 100%;
    max-width: 650px;
    margin: auto;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    border-radius: 20px;

    font-family: sans-serif;
}

/* Selector */
.hidden {
    display: none;
}

.selector {
    margin: 0px 20px 10px 20px;
    height: 55px;
}

.string__input {
    background-color: #ececec;
    outline: none;
    border: 0px;
    border-radius: 10px;
    
    padding: 0px 0px 0px 15px;
    
    height: 55px;
    width: calc(100% - 80px);
    max-width: 650px;
    
    font-family: sans-serif;
    font-size: 24px;
    color: #333;
    font-style: italic;
}

.string__input::placeholder{
    color: #ccc;
}

.close__btn {
    background-color: #ececec;
    border-radius: 10px;
    float: right;
    
    height: 55px;
    width: 55px;
    
    text-align: center;
}




.settings{
    margin: 20px auto 10px auto;
    height: 55px;  
    max-width: 400px;

}

.color__select__main{
    
    opacity: 50%;
}

.select__bg__name,
.select__bg__text {
    text-align: center;
    font-family: sans-serif;
    font-size: 11px;
    color: #333;
    margin: 0 0 0 4px;
    padding: 0;
}

.select__bg,
.select__text {
    
    float: left;
    
    height: 45px;
    width: 70px;
    
    text-align: center;
}

.select__bg__color,
.select__text__color {
    border-style: solid;
    border-color: #247ba0;
    border-radius: 10px;
    border-width: 4px;
    
    height: 30px;
    width: 70px;
    
    text-align: center;
}

.select__bg {
    margin: 0 0 0 20px;
}

.select__text {
    margin-left: 13px;
}

.select__text__color {
    background-color: #333;
}

.add__string__btn {
    background-color: #247ba0;
    border-radius: 10px;
    
    margin: 0 20px 0 0;
    float: right;
    
    height: 55px;
    width: 100px;
    
    text-align: center;
}

.show__btn {
    background-color: #ff1654;
    border-radius: 10px;
    
    margin-top: 20px;
    margin-left: calc(50% - 100px);
    
    height: 55px;
    width: 200px;
}

.add__string__btn__text {
    font-family: sans-serif;
    margin: 18px 0 0 0;
    font-size: 16px;
    color: white;
}

.show__btn__text {
    text-align: center;
    padding: 18px 0px 0px 0px;
    font-family: sans-serif;
    font-size: 18px;
    color: white;
}

.space {
    height: 20px;
}





/* Font selector */

.font__selector {
    width: 100%;
    max-width: 650px;
    margin: 20px 0 0 0;
    background-color: aqua;
    }

.font__selecrot {
    
    overflow: hidden;
    position: relative;
    float: left;
    left: 50%;
    border: 1px dashed #a00;
    list-style: none;
    margin: 0;
    padding: 0;
}

.font__selector__filter__item {
    background-color: #ececec;
    border-radius: 10px;
    margin: 10px 10px 0 0;
    
    position: relative;
    float: left;
    right: 50%;
    
    height: 75px;
    width: 75px;
    
}








