body {
    
    margin: 0;
    font-size: 15px;
    color: #333;
}

*,
*:afret,
*:before {
    box-sizing: border-box;
}

/* Conatiner */
.container {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;

    font-family: sans-serif;
}

/* Selector */

.selector {
    margin-top: 10px;
    position: relative;
}

.string__input{
    background-color: #ececec;
    border: 0px;
    border-radius: 10px;
    
    padding: 0px 0px 0px 15px;
    
    height: 55px;
    width: 320px;
    margin: 0px 0px 10px 20px;
    
    font-family: sans-serif;
    font-size: 24px;
    color: #999;
    font-style: italic;
    
    position: absolute;
}

.close__btn{
    background-color: #ececec;
    border: 0px;
    border-radius: 10px;
    
    height: 55px;
    width: 55px;
    
    text-align: center;
    font-size: 24px;
    color: #999;
    
    position: absolute;
    right: 20px;
}















